---
title: "runtime verification"
draft: false
---

Runtime verification is a computing system analysis and execution approach based on extracting information from a running system and using it to detect and possibly react to observed behaviors satisfying or violating certain properties.[1] Some very particular properties, such as datarace and deadlock freedom, are typically desired to be satisfied by all systems and may be best implemented algorithmically.


## Reference List {#reference-list}

1.  <https://www.cs.cornell.edu/courses/cs5154/2021sp/resources/IntroToRuntimeVerification.pdf>
